USE [master]
GO
/****** Object:  Database [Db_Todolist]    Script Date: 28.01.2022 17:07:56 ******/
CREATE DATABASE [Db_Todolist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Todolist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db_Todolist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Todolist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db_Todolist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Todolist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Todolist]
GO
/****** Object:  Table [dbo].[Category_table]    Script Date: 28.01.2022 17:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Todo_table]    Script Date: 28.01.2022 17:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todo_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[creation_datetime] [datetime] NULL,
	[deadline_datetime] [datetime] NULL,
	[remember_datetime] [datetime] NULL,
	[repeat_time] [datetime] NULL,
	[ticket1] [bit] NOT NULL,
	[ticket2] [bit] NOT NULL,
	[ticket3] [bit] NOT NULL,
	[ok] [bit] NULL,
	[archived] [bit] NULL,
 CONSTRAINT [PK_Todo_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_table]    Script Date: 28.01.2022 17:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_surname] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User_table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category_table]  WITH CHECK ADD  CONSTRAINT [FK_Category_table_User_table] FOREIGN KEY([user_id])
REFERENCES [dbo].[User_table] ([id])
GO
ALTER TABLE [dbo].[Category_table] CHECK CONSTRAINT [FK_Category_table_User_table]
GO
ALTER TABLE [dbo].[Todo_table]  WITH CHECK ADD  CONSTRAINT [FK_Todo_table_Category_table] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category_table] ([id])
GO
ALTER TABLE [dbo].[Todo_table] CHECK CONSTRAINT [FK_Todo_table_Category_table]
GO
USE [master]
GO
