
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todolist</title>
    <link rel="stylesheet" href="~/My_Content/SingIn.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <section class="login">
        <div class="login_box">
            @RenderBody()
        </div>
    </section>
</body>
</html>
